---
import {Icon} from 'astro-icon'
import {
  AnnouncementBar,
	Button,
	CustomerQuoteSection,
	ThreeColumnTextSection,
	YouTubeEmbedSection,
  StickyTextImageSection,
  CtaCardSection
} from '@littlesticks/odyssey-theme-components';
import Layout from '../layouts/Page.astro';
import TextAndImageHero from '../components/sections/heros/TextAndImageHero.astro';

const seo = {
	title: 'Landing Page #1 | Astro Odyssey Theme',
	description: 'Landing Page #1 | Astro Odyssey Theme',
};
---

<AnnouncementBar text="Read Our Latest Blog Post" href="/blog/posts/remote-work-mental-health/" slot="announcement-bar"/>
<Layout seo={seo} >
	<TextAndImageHero reversed>
		<div slot="text-container">
			<h1>Don't Reinvent the Wheel</h1>
			<p> Somos una compañia privada dedicada a la reutilizacion y confección de material sólidos de desuso como piezas de automóviles, chatarra, para ser procesados con soldadura ambiental la cual brinda rentabilidad  en el equilibrio del cuidado del medio ambiente </p>
		</div>
		<div slot="btns-container">
			<Button href="/theme/get-started" customIcon
				>Get Started <Fragment slot="icon">
          <Icon name="ic:baseline-chevron-right"/>
        </Fragment></Button
			>
		</div>
		<picture slot="image-container">
			<img src="/assets/images/home/Fotos/logo.png" alt=""/>
		</picture>
	</TextAndImageHero>

	<CustomerQuoteSection
		quoteText="Crear una idea de negocio donde se logre visualizar cambios en el fenomeno de el reciclaje y hacer parte del esfuerzo, mediante el manejo de desechos sólidos inicialmente en calles, empresas públicas y privadas para disminuir el impacto que causan ellos al medio ambiente."
		customerName="Eco Friendly Panama"
	/>

	<ThreeColumnTextSection>
		<div slot="column-1-body">
			<h3>Reutilizamos</h3>
			<p>Piezas de autos en desuso (bujias, cremalleras, discos, tornillos )</p>
			<p>Desechos solidos (chatarra)</p>
		</div>
		<Button slot="column-1-cta">Learn More</Button>
		<div slot="column-2-body">
			<h3>Porque Reutilizar?</h3>
			<p>Reduzco los residuos que desecho</p>
			<p>Ahorro dinero! Reutilizar es gratis, no tengo que comprar lo que yo pueda fabricar</p>
			<p>Consumo menos. Ahorro energía, agua y recursos naturales</p>
			<p>Reutilizar puede ser un hobby perfecto para nuestros ratos libres</p>
		</div>
		<Button slot="column-2-cta" outlined>Learn More</Button>
		<div slot="column-3-body">
			<h3>Como reutilizar?</h3>
			<p>Adaptalo a tus necesidades.</p>
			<p>Busca informacion: en internet hay miles de ejemplos de objetos realizados con residuos. </p>
			<p>Reutilizar es una muy buena excusa para compartir nuestro tiempo con la gente cercana.</p>
			<p>Invita a alguien a que te ayude, involucra a tu familia y amigos en recopilar los residuos, etc.</p>

		</div>
		<Button slot="column-3-cta">Learn More</Button>
	</ThreeColumnTextSection>

	<YouTubeEmbedSection url="https://youtu.be/tNWyGbt9Apw" rounded />

  <StickyTextImageSection>
    <div slot="text-container">
      <h1>Beneficios del proyecto</h1>
      <br/>
	  <h2> Fortalezer la cultura empresarial</h2>
      <br/>
        <h2>
        Promover la responsabilidad ambiental en el sector empresarial 
      </h2>
    </div>
     <picture slot="image-container">
      <img
        src="/assets/images/home/Fotos/metal.jpeg"
        alt="Astro Odyssey"
        loading="lazy"
      />
    </picture>
  </StickyTextImageSection>

  <CtaCardSection background="var(--theme-surface-2)" color="var(--theme-on-surface-2)">
    <h2>Apoya al proyecto</h2>
    <p>Puedes ayudarnos con comentarios en el siguiente boton</p>
    <Button href="/theme/get-started" customIcon>Ayuda al planeta <Fragment slot="icon">
      <Icon name="ic:baseline-chevron-right"/>
    </Fragment></Button>
  </CtaCardSection>

</Layout>

