---
import { TextSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'About | Astro Odyssey Theme',
	description: 'About Page',
};
---

<Layout {seo}>



  <style>
    p{
      text-align: justify;
    }
    </style>
  
  <TextSection narrow>
    <h3> Acerca de Eco friendly </h3>
    <p>
      Estamos conformados por un implementador, cerrador, creativo y logico metodico.
    </p>
    <p>
      Ofrecemos el servicio de reutilización de material desechos sólidos en desuso (piezas de autos), generando a nuestros clientes creatividad y elaboración ecológica con el cumplimiento de las máximas exigencias ambientales .
    </p>
    <p>
      Ayudamos en la implementación de campañas de reutilizar para pequeñas y medianas empresas a través de planes de capacitación local, con una guía de procesos de implementación y adopción de la importancia de nuestros productos al cuidado de nuestro suelo y flora 
    </p>
    <p>
      <p>Resumen Ejecutivo</p>
      <p>Valores: Responsabilidad, Excelencia, Puntualidad, Comunicación</p>
       Descripción del Proyecto EcoFriendy elabora piezas decorativas y de arte base de metal reciclado, bujías tubos galvanizados que han sido extraído de autos que han culminado su ciclo de vida. Nuestro valor intangible son las emociones y sentimientos que conectaríamos con los clientes por la compara de nuestros productos gracias a la satisfacción de aportar al manejo de residuos con la aplicación de conservación de REDUCIR, REHUSAR, RECICLAR lo cual no es común en nuestro país
      Ecofriendly Panamá es presentado como base de un plan de negocio a futuro para seguir   desarrollando nuestro perfil emprendedor , la preocupación personal y mundial por el deterioro constante al que se viene exponiendo el planeta en su componente de medio ambiente por parte de los seres humanos, nos impulsa a buscar las estrategias adecuadas para lograr disminuir los contaminantes permanentes ,  para ello se han de utilizar diferentes herramientas basadas en lo administrativo, lo económico, lo logístico y lo social como parte de una organización capaz de responder a los retos que se van imponiendo en el mundo globalizado y con plena crisis ambiental aumentando. De esta manera los esfuerzos del sector privado y las entidades del estado permiten mejorar las acciones a desarrollar para disminuir los impactos de los residuos en los territorios urbanos, agrícolas y rurales. Aunque con mayor énfasis en el sector urbano donde la densidad demográfica al ser mayor lleva a que se produzca una mayor cantidad de residuos los cuales pueden ser reutilizados para otra función. Es este precisamente el fin de este trabajo, lograr visibilizar el fenómeno y hacer parte de los esfuerzos privados y públicos, por medio de una iniciativa empresarial del manejo de los residuos sólidos inicialmente (apilamiento de vehículos en talleres, patios, cementerios) con ciclo de vida culminado. Por último, la propuesta pretende ser puesta en práctica por medio de la iniciativa de negocio de elaboración de piezas decorativas como bujías, tornillos, etc. en conjunto con soldadura ambiental; el objetivo es ser parte de la solución al manejo de los residuos sólidos que afectan el ecosistema.
    </p>      
  </TextSection>
</Layout>
